/tests/ export-ignore
/scripts/ export-ignore
/vendor/ export-ignore
/bin/ export-ignore
/node_modules/chart.js/auto export-ignore
/node_modules/chart.js/helpers export-ignore
/node_modules/chart.js/types export-ignore
/node_modules/chart.js/dist/chunks export-ignore
/node_modules/chart.js/dist/chart.esm.js export-ignore
/node_modules/chart.js/dist/chart.js export-ignore
/node_modules/chart.js/dist/helpers.esm.js export-ignore
/README.md export-ignore
/.wordpress-org export-ignore
.github export-ignore
.gitignore export-ignore
.gitattributes export-ignore
.travis.yml export-ignore
package-lock.json export-ignore
bower.json export-ignore
composer.json export-ignore
composer.lock export-ignore
phpunit.xml.dist export-ignore
phpunit.xml export-ignore
.phpcs.xml.dist export-ignore
phpcs.xml export-ignore
package.json export-ignore
*.map export-ignore
*.sh export-ignore
CHANGELOG.md export-ignore
ChangeLog.md export-ignore
change-log.md export-ignore
CONTRIBUTING.md export-ignore
.scrutinizer.yml export-ignore
codeception.yml export-ignore
Gruntfile.js export-ignore
CHANGELOG export-ignore
phpbench.json export-ignore
composer.travis.json export-ignore
karma.conf.js export-ignore
.DS_Store export-ignore
.editorconfig export-ignore
docker-compose.yml export-ignore
tsconfig.json export-ignore
tsconfig.spec.json export-ignore
wdio.conf.ts export-ignore
vue.config.js export-ignore
.env.default export-ignore
.env export-ignore
/app/tmp/ export-ignore
.lfsconfig export-ignore
babel.config.js export-ignore
.phpstorm.meta.php export-ignore
.browserslistrc export-ignore
.eslintignore export-ignore
.eslintrc.js export-ignore
jest.config.js export-ignore
/plugins/WordPress/vue/src export-ignore
/plugins/WordPress/vue/dist/*.umd.js export-ignore
*.gzip export-ignore

# export-ignore rules for embedded matomo follow

# we need to remove jquery as it is shipped with wordpress and we use their jquery
/app/node_modules/jquery export-ignore

# lets remove some extra libs that aren't needed
/app/node_modules/jquery-ui-dist/images export-ignore
/app/node_modules/jquery-ui-dist/jquery-ui.theme.css export-ignore
/app/node_modules/jquery-ui-dist/external export-ignore
/app/node_modules/jquery-ui-dist/jquery-ui.structure.min.css export-ignore
/app/node_modules/jquery-ui-dist/*.js export-ignore
/app/node_modules/jquery-ui-dist/jquery-ui.structure.css export-ignore
/app/node_modules/jquery-ui-dist/jquery-ui.css export-ignore
/app/node_modules/jquery-ui-dist/index.html export-ignore
/app/node_modules/jquery-ui-dist/README.md export-ignore
/app/node_modules/angular/*.js export-ignore
/app/node_modules/angular/*.map export-ignore
/app/node_modules/angular/*.json export-ignore
/app/node_modules/angular-animate/*.js export-ignore
/app/node_modules/angular-animate/*.map export-ignore
/app/node_modules/angular-animate/*.json export-ignore
/app/node_modules/angular-cookies/*.js export-ignore
/app/node_modules/angular-cookies/*.map export-ignore
/app/node_modules/angular-cookies/*.json export-ignore
/app/node_modules/angular-sanitize/*.js export-ignore
/app/node_modules/angular-sanitize/*.map export-ignore
/app/node_modules/angular-sanitize/*.json export-ignore
/app/node_modules/angular-mocks/*.js export-ignore
/app/node_modules/chroma-js/doc export-ignore
/app/node_modules/chroma-js/src export-ignore
/app/node_modules/chroma-js/test export-ignore
/app/node_modules/chroma-js/.npmignore export-ignore
/app/node_modules/chroma-js/Makefile export-ignore
/app/node_modules/chroma-js/*.json export-ignore
/app/node_modules/chroma-js/*.js export-ignore
/app/node_modules/chroma-js/readme.md export-ignore
/app/node_modules/iframe-resizer/js export-ignore
/app/node_modules/iframe-resizer/.* export-ignore
/app/node_modules/iframe-resizer/*.js export-ignore
/app/node_modules/iframe-resizer/*.json export-ignore
/app/node_modules/jquery-mousewheel/*.js export-ignore
/app/node_modules/jquery-mousewheel/*.json export-ignore
/app/node_modules/jquery.browser/dist export-ignore
/app/node_modules/jquery.browser/test export-ignore
/app/node_modules/jquery.browser/.* export-ignore
/app/node_modules/jquery.browser/*.js export-ignore
/app/node_modules/jquery.browser/bower.json export-ignore
/app/node_modules/jquery.browser/package.json export-ignore
/app/node_modules/jquery.dotdotdot/dist export-ignore
/app/node_modules/jquery.dotdotdot/src export-ignore
/app/node_modules/jquery.dotdotdot/*.json export-ignore
/app/node_modules/jquery.dotdotdot/*.js export-ignore
/app/node_modules/jquery.dotdotdot/*.html export-ignore
/app/node_modules/jquery.scrollto/demo export-ignore
/app/node_modules/jquery.scrollto/tests export-ignore
/app/node_modules/jquery.scrollto/.* export-ignore
/app/node_modules/jquery.scrollto/*.json export-ignore
/app/node_modules/jquery.scrollto/*.js export-ignore
/app/node_modules/mousetrap/plugins export-ignore
/app/node_modules/mousetrap/tests export-ignore
/app/node_modules/mousetrap/*.js export-ignore
/app/node_modules/mousetrap/*.json export-ignore
/app/node_modules/mousetrap/*.sublime-project export-ignore
/app/node_modules/materialize-css/dist/css/materialize.css export-ignore
/app/node_modules/materialize-css/dist/js/materialize.js export-ignore
/app/node_modules/ng-dialog/.github export-ignore
/app/node_modules/ng-dialog/css export-ignore
/app/node_modules/ng-dialog/example export-ignore
/app/node_modules/ng-dialog/js export-ignore
/app/node_modules/ng-dialog/tests export-ignore
/app/node_modules/ng-dialog/.* export-ignore
/app/node_modules/ng-dialog/*.js export-ignore
/app/node_modules/ng-dialog/*.json export-ignore
/app/node_modules/ng-dialog/*.lock export-ignore
/app/node_modules/qrcodejs2/.* export-ignore
/app/node_modules/qrcodejs2/*.json export-ignore
/app/node_modules/qrcodejs2/*.html export-ignore
/app/node_modules/qrcodejs2/*.svg export-ignore
/app/node_modules/qrcodejs2/*.js export-ignore
/app/node_modules/sprintf-js/dist export-ignore
/app/node_modules/sprintf-js/src export-ignore
/app/node_modules/sprintf-js/*.json export-ignore
/app/node_modules/sprintf-js/README.md export-ignore
/app/node_modules/visibilityjs/lib export-ignore
/app/node_modules/visibilityjs/*.ts export-ignore
/app/node_modules/visibilityjs/*.js export-ignore
/app/node_modules/visibilityjs/*.json export-ignore
/app/node_modules/visibilityjs/*.md export-ignore
/app/node_modules/vue/ export-ignore
/app/libs/jqplot/plugins export-ignore
/app/libs/jqplot/*.sh export-ignore
/app/libs/jqplot/*.js export-ignore

# matomo source files we don't need (since we include the asset in the built package)
# - we keep: Piwik_Overlay.js optOut.js previewmode.js previewmodedetection.js tagmanager.js tagmanager.min.js
/app/plugins/*/angularjs/*.js export-ignore
/app/plugins/*/angularjs/**/*.js export-ignore
/app/plugins/*/vue/src/**/*.ts export-ignore
/app/plugins/*/vue/src/**/*.vue export-ignore
/app/plugins/*/vue/dist/*.umd.js export-ignore
/app/plugins/Actions/javascripts export-ignore
/app/plugins/CoreUpdater/javascripts export-ignore
/app/plugins/Installation/javascripts export-ignore
/app/plugins/SegmentEditor/javascripts export-ignore
/app/plugins/TwoFactorAuth/javascripts export-ignore
/app/plugins/Annotations/javascripts export-ignore
/app/plugins/CoreVisualizations/javascripts export-ignore
/app/plugins/Live/javascripts export-ignore
/app/plugins/SEO/javascripts export-ignore
/app/plugins/UserCountryMap/javascripts export-ignore
/app/plugins/AnonymousPiwikUsageMeasurement/javascripts export-ignore
/app/plugins/CustomDimensions/javascripts export-ignore
/app/plugins/Login/javascripts export-ignore
/app/plugins/UserId/javascripts export-ignore
/app/plugins/Contents/javascripts export-ignore
/app/plugins/Dashboard/javascripts export-ignore
/app/plugins/Morpheus/javascripts export-ignore
/app/plugins/Morpheus/stylesheets/base/font.css export-ignore
/app/plugins/Tour/javascripts export-ignore
/app/plugins/ExamplePlugin/javascripts export-ignore
/app/plugins/Transitions/javascripts export-ignore
/app/plugins/CoreHome/javascripts export-ignore
/app/plugins/CoreHome/angularjs export-ignore
/app/plugins/Insights/javascripts export-ignore
/app/plugins/PagePerformance/javascripts export-ignore
/app/plugins/TreemapVisualization/javascripts export-ignore
/app/plugins/TagManager/javascripts/tagmanagerHelper.js export-ignore
/app/plugins/CoreAdminHome/javascripts/protocolCheck.js export-ignore
/app/plugins/Overlay/javascripts/rowaction.js export-ignore
/app/plugins/Overlay/javascripts/Overlay_Helper.js export-ignore

/app/package.json export-ignore
/app/package-lock.json export-ignore
