<?xml version="1.0"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" bootstrap="tests/phpunit/bootstrap.php" backupGlobals="false" colors="true" xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/10.4/phpunit.xsd" cacheDirectory=".phpunit.cache">
  <testsuites>
    <testsuite name="integration">
      <directory prefix="test-" suffix=".php">./tests/phpunit/</directory>
    </testsuite>
  </testsuites>
</phpunit>
