{% extends '@WordPress/framelayout.twig' %}

{% block content %}
    <!-- TODO: translate -->
    <h4>You need to be a Matomo administrator for this site to be able to change these settings.</h4>
{% endblock %}
