.matomo-tracking-form th {
    width: 30%;
}

.matomo-tracking-form th {
    width: 30%;
}

.matomo-systemreport-comment {
    word-break: break-all;
}

.matomo-hero {
    text-align: center;background: #3152a0;padding: 30px 20%;
}

.matomo-hero h2 {
    color: white;font-size: 26px;line-height: 1.3;margin-top: 0;
}
.matomo-hero .matomo-cta-button {
    background: #f77b00;color: white;padding: 8px 24px;
    min-height: 28px;
    height: auto;
}
.matomo-hero .matomo-next-link {
    margin-left: 12px;
}
.matomo-hero a:not(.matomo-cta-button) {
    color: white;
    margin-top: 10px;
    display: inline-block;
}

ul.matomo-list {
    list-style-type: disc;
    margin-left: 20px;
}
ol.matomo-list {
    list-style-type: decimal;
    margin-left: 20px;
}

.plugin-card .matomo-description {
    min-height: 57px;
}

.matomo-blockquote {
    margin: .5em 10px;
    border-left: 4px solid #ccc;
    padding-left: 10px;
    font-weight: bold;
}
.matomo-footer {
    margin-top: 48px;
    text-align: center;
}

.matomo-footer ul {
    list-style: none;
    padding: 0 0 0 20px;
    font-size: 13px;
    line-height: 18px;
}

.matomo-footer ul li {
    display: inline-block;
    margin: 0 20px 10px;
}

.matomo-header-icon {
    height: 32px;
    vertical-align: top;
}

.matomo-footer ul a {
    color: #37474f;
}
.matomo-systemreport .widefat .warning td {
    color: orange;
}

.matomo-systemreport .widefat .error td {
    color: red;
}

.matomo-systemreport .widefat .section {
    font-weight: bold;
}

.postbox .table .widefat.matomo-table {
    border: 0;
}

#matomo_default_tracking_code {
    margin-top: 100px;
}

#matomo_default_tracking_code textarea {
    width: 100%;
    height: 140px;
}
#matomo_default_tracking_code textarea.no_script {
    height: 50px;
}
